.recipes {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  background: ghostwhite;
  /* padding: 1rem 1rem 2rem 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; */
}

.recipes li {
  list-style: none;
}

@media (max-width: 500px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 9rem));
  }
}
