.landing {
  padding: 0;
  position: relative;
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.landing img {
  width: 110%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.search {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.4);
  bottom: calc(72% - 11.1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
}

.search h1 {
  color: #fff;
  letter-spacing: 2rem;
  font-size: 10vh;
  text-shadow: 2px 2px #c4c1c1;
  margin-bottom: 0.1rem;
}

.search p {
  color: #fff;
  font-size: 4.2vh;
  margin-top: 0;
}
